### Terraform ###
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.lock.hcl

*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
*.tfplan

crash.log
crash.*.log

### Go ###
/bin/
/dist/
*.exe
*.out

### Secrets ###
.env

### Editors / OS ###
.vscode/
.idea/
*.swp
.DS_Store

